/*estilos para el div de guia servicio y el boton agregar*/
.Div-agregar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ajusta según el ancho deseado */
}

 #titulo-guia-servicio{
        margin-left: 8px;
}
#btn-agregar-guia {
    background-color: #1538A0;
    color: white; /* Color del texto */
    border: none; /* Quitar borde */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 14px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    border-radius: 4px; /* Bordes redondeados */
    transition: all 0.3s ease; /* Animación suave */
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 8px;
    }

#btn-agregar-guia:hover {
    background-color: #09267b; /* Cambio de color al pasar el mouse */
    color: white;
}
.search-container {
    justify-content: center;
    display: flex;
}

.custom-search {
    max-width: 500px;
    width: 100%;
}

.search-form {
    width: 580px;
}

.search-input {
    border-radius: 20px 0 0 20px;
    border: 1px solid #ccc;
    padding: 8px 12px;
    font-size: 14px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-btn {
    border-radius: 0 20px 20px 0;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-btn i {
    font-size: 16px;
}

.table thead {
    background-color: white;
    color: #15338a;
    text-align: center;
}

.table {
    border: 2px solid black;
}

.table th, .table td {
    border: 1px solid black !important;
    padding: 10px;
    text-align: center;
}

.btn-estado {
    background-color: #15338a;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-estado:hover {
    background-color: black;
}
#filtrarGuias {
background-color: #1538A0;
color: white; /* Color del texto */
border: none; /* Quitar borde */
padding: 10px 20px; /* Espaciado interno */
font-size: 16px; /* Tamaño del texto */
font-weight: bold; /* Texto en negrita */
border-radius: 10px; /* Bordes redondeados */
transition: all 0.3s ease; /* Animación suave */
display: flex;
align-items: center;
gap: 10px;
}

#filtrarGuias:hover {
background-color: #09267b; /* Cambio de color al pasar el mouse */
color: white;
}

.dataTables_wrapper .dataTables_paginate {
    display: flex;
    justify-content: center;
}
