.botoninicio{
    background-color: #2641F8; /* Este es un color celeste */
    color: white;
    font-weight: bold;
    border: none;
}

/* Estilos para botones */
.boton-container {
    display: flex;
    border-bottom: 2px solid black;
    /* Línea horizontal larga */
}

a {
    text-decoration: none;
}

.boton {
    padding: 8px 11px;
    border: 2px solid black;
    /* Borde negro en todos los lados */
    border-bottom: 1px solid black;
    /* Línea inferior más delgada */
    background-color: white;
    color: gray;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    position: relative;
    /* Para controlar la línea de abajo */
}

.boton:hover {
    color: black;
}

.numero1 {
    display: inline-block;
    width: 26px;
    height: 26px;
    font-size: 12px;
    color: black;
    background-color: rgb(128, 189, 37);
    text-align: center;
    line-height: 20px;
    border-radius: 3px;
}

.numero2 {
    display: inline-block;
    width: 26px;
    height: 26px;
    font-size: 12px;
    color: black;
    background-color: rgb(184, 95, 13);
    text-align: center;
    line-height: 20px;
    border-radius: 3px;
}

.numero3 {
    display: inline-block;
    width: 26px;
    height: 26px;
    font-size: 12px;
    color: black;
    background-color: rgb(13, 184, 127);
    text-align: center;
    line-height: 20px;
    border-radius: 3px;
}

.contenido {
    display: none;
}

.contenido.activo {
    display: block;
}

.boton.activo {
    color: black;
    /* Texto negro cuando está activo */
    border-bottom: 2px solid white;
    /* Hace que parezca que no tiene borde abajo */
    font-weight: bold;
    margin-bottom: -2px;
    /* Para pegarlo a la línea negra */
}

/* Estilos para contenedores de la sección 1 */
.wrappercontenedor {
    display: flex;
    justify-content: center;
    gap: 80px;
    /* Mayor separación entre los contenedores */
    margin-top: 30px;
    flex-wrap: wrap;
}

.containercontenedor {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    width: 620px;
    /* Aumenté el ancho para mejor visualización */
    height: 220px;
    /* Un poco más alto para mayor comodidad */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containercontenedor2 {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    width: 620px;
    /* Aumenté el ancho para mejor visualización */
    height: 210px;
    /* Un poco más alto para mayor comodidad */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -40px;
    transform: translateY(-30px);
}

.containercontenedor1 {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    width: 620px;
    /* Aumenté el ancho para mejor visualización */
    height: 280px;
    /* Un poco más alto para mayor comodidad */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containercontenedor3 {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    width: 620px;
    /* Aumenté el ancho para mejor visualización */
    height: 130px;
    /* Un poco más alto para mayor comodidad */
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: space-between;
}

.container-titlecontenedor {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 2px;
    color: #333;
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
}

.input-groupcontenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    /* Más espacio entre filas */
    width: 100%;
}

.input-labelcontenedor {
    font-weight: bold;
    font-size: 14px;
    /* Aumenté el tamaño para mejor lectura */
    color: #444;
    padding: 5px;
}

.input-fieldcontenedor {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 11px;
    width: 100%;   /* Asegura que ocupe todo el ancho disponible */
    margin: 0;     /* Elimina cualquier margen que pueda haber añadido un desplazamiento */
    text-align: left; /* Asegura que el texto dentro del input esté alineado a la izquierda */
}


.input-fieldcontenedor.full-widthcontenedor {
    width: 100%;
}

.input-fieldcontenedor:focus {
    border-color: #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.contenedordelboton {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.crear-btn {
    font-weight: bold;
    width: 70px;
    height: 40px;
    background-color: #2641F8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.crear-btn:hover {
    background-color: #445dfd;
}


/* CSS DE VIÑETA */
.accordion {
    margin-top: 50px;
}

.accordion-button {
    background-color: lightblue;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 15px;
    border: none;
}

.accordion-button::after {
    content: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:hover {
    background-color: lightskyblue;
}

.accordion-body {
    background-color: mintcream;
    color: darkslategray;
    font-size: 1.1em;
    padding: 15px;
}

.accordion-toggle-btn {
    font-size: 1.5em;
    font-weight: bold;
    transition: transform 0.3s;
}

.accordion-button:not(.collapsed) .accordion-toggle-btn {
    transform: rotate(45deg);
}

.accordion-button .btn {
    margin-left: 10px;
}

.flex-container {
    align-items: center;
}

.bton1 {
    width: 100%;
    background-color: #007bff;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.bton1:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.bton1:active {
    background-color: #004085;
    transform: translateY(0);
    box-shadow: none;
}

#page-wrapper {
    position: inherit;
    padding-bottom: 50px;
}

/*CSS de las tablas de ingreso*/
.search-container {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    margin: 15px 0;
}

.custom-search {
    max-width: 500px;
    /* Puedes ajustar el tamaño aquí */
    width: 100%;
    /* O puedes usar un porcentaje si prefieres que sea relativo */
}

.table-container {
    margin-top: 40px;
    /* Baja la tabla 40px */
}

.table thead {
    background-color: white;
    color: #15338a;
    text-align: center;
}


.table th,
.table td {
    border: 1px solid black !important;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#btn-crear-informe {
    background-color: #1538A0;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 8px;
}

#btn-crear-informe:hover {
    background-color: #09267b;
    color: white;
}
.btn-estado {
    background-color: #15338a;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.crearbtn {
    width: 200px;
    height: 50px;
    background-color: rgb(210, 120, 30);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#page-wrapper {
    position: inherit;
    padding-bottom: 50px;
}

.crearbtn:hover {
    background-color: #9b5f23;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

/* Formulario compacto y estilizado */
.search-form {
    width: 580px;
    /* Ancho controlado para que no sea muy grande */
}

/* Campo de búsqueda con diseño atractivo */
.search-input {
    border-radius: 20px 0 0 20px;
    border: 1px solid #ccc;
    padding: 8px 12px;
    font-size: 14px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

/* Botón de búsqueda compacto y elegante */
.search-btn {
    border-radius: 0 20px 20px 0;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6;
    color: white;
    cursor: pointer;
}

/* Ajuste para icono de búsqueda */
.search-btn i {
    font-size: 16px;
}

.crearbtn2 {
    width: 200px;
    height: 50px;
    background-color: rgb(42, 188, 108);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.crearbtn2:hover {
    background-color: #418818;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

#page-wrapper {
    position: inherit;
    padding-bottom: 50px;
}

/*Estilos para el acordeon hecho a mano*/

.contenedor-principal {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.acordeon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #d9dbdf;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.acordeon-header:hover {
    background-color: #a9a9ae;
}

.guia-texto {
    font-weight: 500;
    color: #374151;
    margin-right: 15px;
}

.orden-servicio {
    flex-grow: 1;
    font-weight: 500;
}

.acordeon-contenido {
    max-height: 0; /* Inicialmente el acordeón está cerrado */
    overflow: hidden; /* Ocultar el contenido cuando está cerrado */
    transition: max-height 0.5s ease-out; /* Transición de max-height */
    border-left: 1px solid #e5e7eb;
    border-right: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    border-radius: 0 0 4px 4px;
}

.acordeon-contenido.activo {
    max-height: 6000px; /* Un valor suficientemente grande para mostrar el contenido */
    /* Puedes ajustar el valor de max-height si tienes acordeones con diferentes tamaños */
    transition: max-height 0.7s ease-in;
}



.acordeon-contenido-interno {
    padding: 15px;
    background-color: white;
}


.input-group {
    display: flex;
    width: 100%;
}


/* Estilos para la tabla */
.table-responsive {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #e5e7eb;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

th {
    background-color: #f3f4f6;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9fafb;
}

tr:hover {
    background-color: #f3f4f6;
}

.fw-bold {
    font-weight: bold;
}

/* Estilos para los botones y selects dentro de la tabla */
.btn {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #3b82f6;
    color: white;
}

.btn-sm {
    font-size: 12px;
}

.form-select {
    padding: 4px 8px;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
}

/* Iconos */
.accordion-toggle-btn {
    margin-left: 10px;
}

.boton_acordeon {
    color: white;
    /* Letra blanca */
    background-color: #15338a;
    border: none;
    /* Sin borde */
    border-radius: 5px;
    /* Borde redondeado */
    padding: 10px 20px;
    /* Espaciado interno */
    font-size: 16px;
    /* Tamaño de fuente */
    cursor: pointer;
    /* Cambia el cursor al pasar */
    transition: background-color 0.3s ease;
    /* Efecto de transición */
}

.boton_acordeon:hover {
    background-color: #005fa3;
    /* Color más oscuro al pasar el mouse */
}

/* Estilo para las celdas editables */
.editable {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 5px;
}

/* Estilo para el modal */
#productModal {
    overflow: hidden; /* Eliminar el desplazamiento */
}




.btn-agregar-guia{
    background-color: #1538A0;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 8px;
}

.contenedordescripcion {
    width: 80%; /* Hacer que los inputs ocupen la mayor parte del espacio */
    padding: 25px;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}
.Contendortecnico {
      display: flex;
      height: 700px; /* 100% de la altura de la ventana */
    }

    /* Estilo para los dos contenedores dentro del principal */
    .contenedor-izquierda, .contenedor-derecha {
        width: 50%;
        padding: 40px;
        box-sizing: border-box;
      }

      /* Imagen directamente dentro de la columna izquierda */
      .imagen-ajustada {
        max-width: 100%;
        max-height: 500px;
        object-fit: contain;
        display: block;
        margin: 20px auto;
        border: 1px solid #ccc;
        padding: 10px;
        box-sizing: border-box;
      }



    /* Estilo para la descripción */
    .contenedor-izquierda p {
      margin-top: 10px;
      font-size: 14px;
      text-align: center;
       font-weight: bold;
    }

    /* Estilo para la cuadrícula de texto */
    .contenedor-derecha {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
    }
    .contenedor-derecha div{
       font-size: 15px;
       font-weight: bold;
    }

    /* Estilo para los inputs */
    .contenedor-derecha input {
      width: 80%; /* Hacer que los inputs ocupen la mayor parte del espacio */
      padding: 5px;
      font-size: 14px;
      margin-top: 5px;
      text-align: left;

    }

/* Estilo para el botón "Seleccionar Producto" */
.boton-seleccionar {
    display: block;
    margin: 20px auto;
    padding: 12px 25px;
    background-color: #1538A0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .boton-seleccionar:hover {
    background-color: #0d2a7a;
    transform: scale(1.05); /* Agrega un efecto de aumento al pasar el mouse */
  }

  /* Estilo para los productos que se muestran */
  .productos {
    display: none; /* Inicialmente oculto */
    text-align: center;
    margin-top: 15px;
  }

  .productos ul {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    max-height: 130px;
    overflow-y: auto;
  }

  .productos li {
    padding: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
  }

  .productos li:hover {
    background-color: #e1e1e1;
  }

  /* Estilo del contenedor de productos cuando está visible */
  .productos ul {
    display: flex;
    flex-direction: column;
  }
.productos li {
  display: block;
  margin-bottom: 8px;
}

.productos li:not(:last-child) {
  margin-bottom: 5px;
}

.botones {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
  }

  .botones button {
    font-size: 16px;
    background-color: #1538A0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }


  /* Si quieres que el enlace dentro del botón se vea como texto normal */
  .botones button a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  #btn-ver-pdf {
    background-color: #1538A0;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 8px;
}

#btn-descargar-pdf {
    background-color: #1538A0;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 8px;
}

#btn-imprimir-pdf {
    background-color: #1538A0;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 8px;
}
#panel-OS {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1050;
    overflow-y: auto;
}

#panel-OS.mostrar {
    transform: translateX(0);
}

.contenido-OS {
    padding: 20px;
}
.imagen-ajustada {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
    display: none; /* Oculta por defecto */
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
  }
