* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.update-servicio-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.8em;
}

.first-fila-service-content {
    gap: 6em;
}

.second-fila-service-content {
    gap: 6em;
}

.sevice-col {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    text-align: start;
}


.text-recomendaciones-content {
    width: 20em;
}

.recomendaciones-service {
    width: 100%;
}
