/* Estilos para botones */
.ordenboton-ordencontainer {
    transform: translateY(30px);
    display: flex;
    border-bottom: 2px solid #DEE2E6; /* Línea horizontal larga */
    margin-bottom: 50px; /* Separación de 20px hacia abajo */
}

.ordenboton {
    padding: 8px 11px;
    border: 2px solid #DEE2E6;
    border-bottom: 0.5px solid #DEE2E6;
    background-color: white;
    color: #A7B1C2;
    cursor: pointer;
    margin: 0 5px;
    position: relative;
    font-weight:bold;
}

.ordenboton:hover {
    color: black;
}

.ordencontenido {
    display: none;
}

.ordencontenido.activo {
    display: block;
}

.ordenboton.activo {
    color: black;
    /* Texto negro cuando está activo */
    border-bottom: 2px solid white;
    /* Hace que parezca que no tiene borde abajo */
    font-weight: bold;
    margin-bottom: -2px;
    /* Para pegarlo a la línea negra */
}
