/* Estilos para botones */
.ordenboton-ordencontainer {
    transform: translateY(30px);
    display: flex;
/*  border-bottom: 2px solid #DEE2E6;  Línea horizontal larga */
    margin-bottom: 50px; /* Separación de 20px hacia abajo */
}

.ordenboton {
    padding: 8px 11px;
    border: 2px solid #DEE2E6;
    border-bottom: 0.5px solid #DEE2E6;
    background-color: white;
    color: #A7B1C2;
    cursor: pointer;
    margin: 0 5px;
    position: relative;
    font-weight:bold;
}

.ordenboton:hover {
    color: black;
}

.ordencontenido {
    display: none;
}

.ordencontenido.activo {
    display: block;
}

.ordenboton.activo {
    color: black;
    /* Texto negro cuando está activo */
    border-bottom: 2px solid white;
    /* Hace que parezca que no tiene borde abajo */
    font-weight: bold;
    margin-bottom: -2px;
    /* Para pegarlo a la línea negra */
}

.btn-crear-orden{
    background-color: #1538A0;
    color: white;
    border: none;
    /* Quitar borde */
    padding: 5px 10px;
    /* Espaciado interno */
    font-size: 13px;
    /* Tamaño del texto */
    transition: all 0.3s ease;
    /* Animación suave */
    font-weight: bold;
    /* Texto en negrita */
    border-radius: 4px;
    /* Bordes redondeados */
}

.btn-crear-orden    :hover {
    background-color: #09267b;
    /* Cambio de color al pasar el mouse */
    color: white;
}

.btn-crear-cotizacion {
    background-color: #1538A0;
    color: white;
    border: none;
    /* Quitar borde */
    padding: 5px 10px;
    /* Espaciado interno */
    font-size: 13px;
    /* Tamaño del texto */
    transition: all 0.3s ease;
    /* Animación suave */
    font-weight: bold;
    /* Texto en negrita */
    border-radius: 4px;
    /* Bordes redondeados */
}

.btn-crear-cotizacion:hover {
    background-color: #09267b;
    /* Cambio de color al pasar el mouse */
    color: white;
}
