.formEnvio input{
    margin-left: 10px;
}
.formShow{
    padding: 15px;
}
.formShow input{
    margin-left: 10px;
    pointer-events: none;
    background-color: #eceff0;
}
.formEnvio,.formShow{
    padding: 15px 0px 30px 0px;
    background-color: #ffffff;
}
.formEnvio label,.formShow label{
    color: rgb(77, 76, 76);
    text-align: end;
    width: 140px;
}
@media(max-width: 500px){
    .formShow,.formEnvio{
        padding-bottom: 50px;
    }
}
@media (max-width: 400px){
    .formShow input,.formEnvio input{
        width: 40%;
    }
}
.btn-volver{
    padding: 10px 0px 30px 0px;
}