#table-gantt-content {
    display: flex;
}

#table-gantt-content .table-data {
    min-width: 60%;
    padding-right: 26px;
}

#table-gantt-content .table-gantt {
    overflow-x: scroll;
    overflow-y: hidden;
}

#table-gantt {
    height: 100%;
}

#table-gantt>thead {
    font-size: 8px;
}

#table-gantt>thead>tr>th {
    padding: 4px;
}

#table-gantt>tbody>tr {
    border-bottom: 1px solid;
}