/* app/assets/stylesheets/custom.scss */
.ibox-activities {
    margin-bottom: 0px;
}

.ibox-content {
    padding: 5px 20px 0px 20px;
}

.gantt-table {
    padding-top: 0;
    margin: 0px;
}

.flex-gap {
    display: flex;
    gap: 30px;
}

.left-table-container {
    width: calc(55%);
}

.right-table {
    width: calc(45%);
    overflow-y: hidden;
}
.gantt-table-week-row {
    height: 22.3px;
}
.gantt-row {
    height: 22px;
}
.progress{
    margin: 0px;
}
.gantt-week-text {
    text-align: center;
    font-size: 12px;
    color: #909295;
}
.gantt-table-search, .gantt-table-weeks {
    height: 35px;
    margin: 0px;
}
.name-options {
    display: flex;
    justify-content: space-between;
}

/* Estilo para la barra de desplazamiento */
.project-table::-webkit-scrollbar {
    height: 5px;
}

.project-table::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.project-table::-webkit-scrollbar-thumb {
    background: #909295;
    border-radius: 10px;
}

.project-table::-webkit-scrollbar-thumb:hover {
    background: #373A40;
}

/* Estilos para el truncado de texto */
.truncate-text {
    display: block;
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}
.ver-mas, .ver-menos {
    color: black;
    opacity: 0.6;
    cursor: pointer;
    font-weight: bold;
}

.card-container {
    display: flex;
    /* overflow-x: auto; */ /*Carrusel*/
    flex-wrap: wrap; /*Paginación*/
    align-items: start;
    justify-content: center;
    gap: 13px;
    border-radius: 8px;
    padding: 8px 8px 18px 8px;
    min-height: 600px;
}
/* Paginación */
.pagination-wrapper {
    display: flex;
    justify-content: center;
}
.carousel-container::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
.carousel-container::-webkit-scrollbar-thumb {
background: #888;
border-radius: 10px;
}
.carousel-container::-webkit-scrollbar-thumb:hover {
background: #555;
}
.carousel-container::-webkit-scrollbar-track {
background: #f0f0f0;
border-radius: 10px;
}