.p-card {
    flex: 0 0 auto;
    width: 280px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
}
.p-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10px;
}
.p-card-content {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 0px 8px 0px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.p-card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 10px 0px 10px;
    position: relative;
}
.p-card-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.p-card-text {
    margin: 5px 10px 5px 10px;
    font-size: 10.5px;
}
.p-card-footer {
    margin: 0px 10px 0px 10px;
}
.p-card-worker-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 0px;
}
.p-card-worker-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    max-width: calc(60%);
    line-height: 1.2;
}
.p-card-worker-name {
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-card-worker-time {
    color: gray;
    font-size: 7.5px;
    margin-top: 0px;
}
.p-card-action-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 14px;
}
.progress-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1px;
}
.progress-bar-date {
    font-size: 8.5px;
    margin-left: 0px;
    margin-right: 0px;
    color: gray;
}
.progress-bar-container {
    flex: 1;
    margin: 0 0px;
}
.progress-bar-border {
    background-color: #f3f3f3;
    height: 6px;
    border-radius: 5px;
    position: relative;
    /* border: 1px solid #9e9e9e; */
}
.progress-bar {
    height: 100%;
    border-radius: 5px;
}
.progress-bar-text {
    font-size: 8px;
    margin-left: 0px;
    margin-right: 0px;
    color: gray;
}
.p-card-tasks-container {
    max-height: 270px;
    overflow-y: auto;
    border-radius: 8px;
    margin-top: 8px;
    padding: 0px 0px 8px 0px;
    transition: max-height 0.3s ease, padding 0.3s ease, margin 0.3s ease;
    scroll-snap-type: y mandatory;
}
.p-card-tasks-container::-webkit-scrollbar {
    width: 3px;
}
.p-card-tasks-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}